@import '../../styles/variables.scss';

.stars-cont{
display: flex;
justify-content: space-between;
    
.stars-style{
 color: $darkblue;
 font-size: 1.5vw;
}

.stars-style-darkbg{
    color: $lightblue;
    font-size: 1.5vw;
   }

.stars-average{
    color: $black;
    font-family: 'Source Sans Pro', Arial, sans-serif; 
    font-weight: 700;  

}

.stars-average-darkbg{
    color: $white;
    font-family: 'Source Sans Pro', Arial, sans-serif; 
    font-weight: 700; 
}

}