@import '../../styles/variables.scss';

.button-general{
    background: linear-gradient(to right, $lightgreen , $lightblue);
    border: none;
    border-radius: 30px;
    color: $white;
    font-family: 'Source Sans Pro', Arial, sans-serif; 
    font-weight: 700;
    height: 36px;
    padding: 5px 20px;
 &:hover{
     color: $darkblue;
 }
    
}