@import "~bootstrap/scss/bootstrap";

//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

//Colores importados de bootstrap
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800,
     
 
);

//Otros colores
//Colores tomados de la página TMDb
$darkblue: #0d253f;
$lightblue: #01b4e4;
$lightgreen: #90cea1;

$black: #000;
$graytxt: rgba(0,0,0,0.6);
$white: #fff;