@import '../../styles/variables.scss';
.home-cont{
 
  padding: 25px;  

 
 .home-titles{
    color: $black;
    font-family: 'Source Sans Pro', Arial, sans-serif; 
    font-weight: 700;
    margin: 20px 0 20px 0;

 }

 .home-cards{
   
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
 }

 .home-card{
   width: 20%;
   margin: 2% 5% 2% 0;
   
  &:hover{
   cursor: pointer; 
  } 

 .home-card-title{
    color: $black;
    font-family: 'Source Sans Pro', Arial, sans-serif; 
    font-weight: 700; 
    margin-top: 5%;
 }  
 }

}